/**
 * * Tailwind theme settings
 * 
 * These are in a separate file so it can be imported into <style> tags in .astro components
 */
@theme {
	/* primary colors */
	--color-primary-50: var(--color-indigo-50);
	--color-primary-100: var(--color-indigo-100);
	--color-primary-200: var(--color-indigo-200);
	--color-primary-300: var(--color-indigo-300);
	--color-primary-400: var(--color-indigo-400);
	--color-primary-500: var(--color-indigo-500);
	--color-primary-600: var(--color-indigo-600);
	--color-primary-700: var(--color-indigo-700);
	--color-primary-800: var(--color-indigo-800);
	--color-primary-900: var(--color-indigo-900);
	--color-primary-950: var(--color-indigo-950);

	/* base colors */
	--color-base-50: var(--color-neutral-50);
	--color-base-100: var(--color-neutral-100);
	--color-base-200: var(--color-neutral-200);
	--color-base-300: var(--color-neutral-300);
	--color-base-400: var(--color-neutral-400);
	--color-base-500: var(--color-neutral-500);
	--color-base-600: var(--color-neutral-600);
	--color-base-700: var(--color-neutral-700);
	--color-base-800: var(--color-neutral-800);
	--color-base-900: var(--color-neutral-900);
	--color-base-950: var(--color-neutral-950);

	/* button styles */
	--color-btn-light: var(--color-neutral-100);
	--color-btn-light-text: var(--color-neutral-900);
	--color-btn-light-hover: var(--color-neutral-200);
	--color-btn-dark: var(--color-neutral-900);
	--color-btn-dark-text: var(--color-neutral-200);
	--color-btn-dark-hover: var(--color-neutral-800);

	/* layout settings */
	--breakpoint-xs: 400px;
	--breakpoint-sm: 640px;
	--breakpoint-md: 768px;
	--breakpoint-lg: 1024px;
	--breakpoint-xl: 1280px;
	--breakpoint-2xl: 1536px;

	/* font families */
	--font-fallback:
		"-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica", "Arial", "sans-serif",
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	--font-sans: "Satoshi", var(--font-fallback);
	--font-mono:
		"SFMono-Regular", "Menlo", "Monaco", "Consolas", "Liberation Mono", "Courier New", "monospace";
}
